
extends layout

block css
    link(rel="stylesheet", href="/css/dashboard.css")

       

block nav
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/") Attendavia
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="/users/dashboard")
                            | DASHBOARD
                            span.sr-only (current)

                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/create_event") Create Event

                    li.dropdown
                        a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                            | Johngorithm
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/users/profile/:id") Profile
                            li.divider(role="separator")
                            li
                                a(href="/users/account/logout") logout            

                form.navbar-form.navbar-right
                    .form-group
                        input.form-control(type="text" placeholder="Search")
                    button.btn.btn-default(type="submit") Submit
                
                
            // /.navbar-collapse
        // /.container-fluid

block content

    section#overview
        .container
            .row
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    .panel.panel-primary.overview_content#upcoming_event
                        .panel-heading.text-center
                            h2.strong=data.recent_event.title
                            p=data.recent_event.location
                            if (data.recent_event.status)
                                p.small Held
                            else
                                p.small Upcoming
                        .panel-body
                            .row
                                .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                    div#host
                                        strong Host
                                        p=data.recent_event.host
                                .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                    div.text-right#date
                                        strong Date
                                        p=data.recent_event.date

                        .panel-footer
                            a.btn.btn-primary.btn-sm(href='/events/event/'+data.recent_event.key) OPEN
                            | 
                            a.btn.btn-primary.btn-sm(href="/events/"+data.recent_event.key+"/edit") EDIT

                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    .well.text-center.overview_content
                        h3.strong Events Recorded
                        h1=data.event_count

                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    .well.text-center.overview_content
                        h3 Total Guest
                        h1 700456

    section#events 
        .container
            .row
                each value, key in data.events
                    .col-lg-3.col-md-3.col-sm-6.col-xs-12
                        .panel.panel-primary.overview_content.events
                            .panel-heading.text-center
                                h2.strong= value.title
                                p=value.location
                                if (value.status)
                                    p.small Held
                                else
                                    p.small Upcoming

                            .panel-body
                                .row
                                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                        div#host
                                            strong Host
                                            p= value.host
                                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                        div.text-right#date
                                            strong Date
                                            p= value.date

                            .panel-footer
                                a.btn.btn-primary.btn-sm(href="/events/event/"+key) OPEN
                                | 
                                a.btn.btn-primary.btn-sm(href="/events/"+ key +"/edit") EDIT

                


