extends dashboard.pug



block content
    
    section#event_detail(style="padding-top: 100px;")
        .container
            .row
                .col-md-7.col-sm-7.col-xs-12.event_heading
                    .well.text-center
                        h2=data.title
                        if(data.status)
                            p Held
                        else
                            p Upcoming

                        a.btn.btn-primary(href="/events/"+data.key+"/edit") EDIT INFO
                    .btn_container.text-center
                        a.btn.btn-default(href="/events/"+data.key+"/guests") Guest
                        |   
                        a.btn.btn-primary(href="/events/"+data.title+"/"+data.key+"/add_guest") Add Guest

                .col-md-5.col-sm-5.col-xs-12
                    .well
                        strong Location  
                        span=data.location

                    .well
                        strong Date  
                        span=data.date

                    .well 
                        strong Event Starts  
                        span=data.time

                    .well
                        strong Host  
                        span=data.host

                    .well
                        strong Guests  
                        span=data.guest_count


    section#recent_guest
        .container
            .row
                .text-center(style="padding-top: 50px;")
                    h4 Registered Guests
                .table-responsive(style="padding-top: 50px;")
                    table.table.table-bordered.table-stripe
                        thead
                            tr.text-center
                                td #
                                td Full Name
                                td Phone
                                td Email
                                td Time In
                                td Time Out
                                td 
                        tbody
                            if (data.recent_guests)
                                -var count = 1
                                each guest,key in data.recent_guests
                                    tr
                                        td=count++
                                        td=guest.full_name
                                        td=guest.Phone
                                        td=guest.email
                                        td=guest.time_in
                                        td=guest.time_out
                                        td 
                                            .button_container.text-center
                                                a.btn.btn-default(href="/guests/"+data.key+'/'+key+"/edit?event="+data.title) Edit
                                                | 
                                                a.btn.btn-danger(href="/guests/"+data.key+'/'+key+"/delete") Delete
                            else
                                tr.text-center
                                    td(colspan="7") No Guest Registered
                                                



