extends dashboard.pug

block css 
    link(rel="stylesheet", href="/css/event_info.css")

block content

    
    #delete_modal
        .content.text-center.animate
            strong#delete_close &times
            h5(style="color: red; margin-top: 40px;").warning

            a.btn.btn-danger(href="#") DELETE
    
    #guest_edit_modal
        .modal_content.animate.text-center
            strong#close &times
        
            h4.text-uppercase 
            br
            h5.message
            
            form.text-left( method="POST")
                .form-group
                    
                    label Full Name
                    input.form-control(type="text", name="full_name", placeholder="Guest Name")

                .form-group
                    
                    label Phone
                    input.form-control(type="text", name="Phone", placeholder="Guest Phone")

                .form-group
                    
                    label Email
                    input.form-control(type="email", name="email", placeholder="Guest Email" )

                .form-group
                    
                    label Time In
                    input.form-control(type="time", name="time_in")

                .form-group
                    
                    label Time Out
                    input.form-control(type="time", name="time_out")

                input.btn.btn-primary.btn-block(type="submit", value="SAVE" )


    
    section#event_detail(style="padding-top: 100px;")
        .container
            .row
                .col-md-7.col-sm-7.col-xs-12.event_heading
                    .well.text-center
                        h2=data.title
                        p=data.status

                        a.btn.btn-primary(href="/events/"+data.key+"/edit") EDIT INFO
                    .btn_container.text-center
                        a.btn.btn-default(href="/events/"+data.key+"/guests") Guest
                        |   
                        a.btn.btn-primary(href="/events/"+data.title+"/"+data.key+"/add_guest") Add Guest

                .col-md-5.col-sm-5.col-xs-12
                    .well
                        strong Location  
                        span=data.location

                    .well
                        strong Date  
                        span=data.date

                    .well 
                        strong Event Starts  
                        span=data.time

                    .well
                        strong Host  
                        span=data.host

                    .well
                        strong Guests  
                        span=data.guest_count


    section#recent_guest
        .container
            .row
                .text-center(style="padding-top: 50px;")
                    h4 Registered Guests
                .table-responsive(style="padding-top: 50px;")
                    table.table.table-bordered.table-stripe
                        thead
                            tr.text-center
                                td #
                                td Full Name
                                td Phone
                                td Email
                                td Time In
                                td Time Out
                                td 
                        tbody
                            if (data.recent_guests)
                                -var count = 1
                                each guest,key in data.recent_guests
                                    tr(id=key)
                                        td(id="count")=count++
                                        td(id="full_name")=guest.full_name
                                        td(id="Phone")=guest.Phone
                                        td(id="email")=guest.email
                                        td(id="time_in")=guest.time_in
                                        td(id="time_out")=guest.time_out
                                        td 
                                            .button_container.text-center
                                                a.btn.btn-default.edit_btn(href="/guests/"+data.key+'/'+key+"/update", data-guest=guest, data-guest_key=key) Edit
                                                | 
                                                a.btn.btn-danger.delete_btn(href="/guests/"+data.key+'/'+key+"/delete", data-guest_name=guest.full_name) Delete
                                    
                            else
                                tr.text-center
                                    td(colspan="7") No Guest Registered
                                                

block js
    script(src="/js/event_info.js")

