extends dashboard.pug

block content 

    section#edit_guest(style="padding: 100px 0;")

        .container.text-center

            
            .row
                h3=event_name

            br
            .row
                .col-lg-4.col-md-4.col-sm-4.col-xs-12

                    if(success_msg)
                        h4(style="color: green; padding: 20px 0; background: white; box-shadow: 0 4px 6px 5px rgba(0,0,0,0.05); border-radius: 3px; margin-bottom: 40px;")=success_msg
                    else if (error_msg)
                        h4 Guest data not saved, please try again

                    h4.text-uppercase EDIT #{guest_data.full_name}'s DATA
                    br
                    
                    form(action="/guests/"+event_key+"/"+guest_key+"/update", method="POST")
                        .form-group
                            
                            label Full Name
                            input.form-control(type="text", name="full_name", placeholder="Guest Name", value=guest_data.full_name)

                        .form-group
                            
                            label Phone
                            input.form-control(type="text", name="Phone", placeholder="Guest Phone", value=guest_data.Phone)

                        .form-group
                            
                            label Email
                            input.form-control(type="email", name="email", placeholder="Guest Email", value=guest_data.email )

                        .form-group
                            
                            label Time In
                            input.form-control(type="time", name="time_in", value=guest_data.time_in)

                        .form-group
                            
                            label Time Out
                            input.form-control(type="time", name="time_out", value=guest_data.time_out)

                        input.btn.btn-primary.btn-block(type="submit", value="SAVE" )